img {
  width: 320px;
  height: 460px;
  padding: 8px;
  border-radius: 15px;
}
.header {
  display: block;
  padding-bottom: 8px;
  background-color: #c541e7b7;
}
button {
  background-color: #c541e7b7;
  color: #fff;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 4px rgba(237, 231, 231, 0.3);
}

.flex {
  justify-content: space-between;
  padding: 20px;
}
.add-to-favorite-btn {
  &:hover {
    cursor: pointer;
  }

  .mat-icon {
    &.not-favorite {
      color: white;
    }

    &.favorite {
      color: red;
    }
  }
}
